$profileLeafSize: 160px;
$leafSpacing: 32px;
$lineColor: lighten(gray, 35%);

body {
    font-family: 'Lato', san-serif
}

.directMembers,
.descendants,
.familyTree,
.profile_leaf {
    display: flex;
}

.familyTree {
    padding: 16px;
    justify-content: center;
}

.directMembers {
    justify-content: center;
}

.descendants {
    // Nothing
}

.profile_leaf {
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $profileLeafSize;
    height: $profileLeafSize;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,.15),
                0 1px 24px rgba(0,0,0,.1),
                0 0 0 8px white inset;
    border-radius: 1000px;
    text-align: center;
    margin: $leafSpacing;
    background-color: lighten(gray, 45%);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?cs=srgb&dl=face-facial-hair-fine-looking-guy-614810.jpg&fm=jpg");
    animation: bounceIn .5s ease-in-out;
    transform-origin: center;

    &.you {
        .name_plate {
            font-weight: 900;
        }
    }

    &.spouse {
        z-index: 1;
        margin-left: -$leafSpacing - 16px;
    }

    .name_plate {
        position: absolute;
        top: $profileLeafSize - 24px;
        box-shadow: 0 1px 4px rgba(0,0,0,.2);
        padding: 8px 12px;
        background-color: white;
        border-radius: 8px;
        min-width: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        white-space: nowrap;

        i {
            margin-left: 8px;
        }
    }
}

.treeName {
    margin-right: 80px;
}

.branch {
    // > .directMembers {
    //     > .profile_leaf {
    //         z-index: 2;

    //         &:before {
    //             content: "";
    //             position: absolute;
    //             width: 1px;
    //             height: $leafSpacing;
    //             background-color: $lineColor;
    //             top: -$leafSpacing;
    //             z-index: -1;
    //         }
    //     }
    // }

    .branch {
        border-top: 1px solid $lineColor;
    }
}

.actions {
    position: absolute;
    right: -12px;

    button {
        border-radius: 40px;
        background-color: white;
        padding: 4px;
        height: 32px;
    }

}

[data-menu-for="actions_add_member"] {
    position: absolute;
    left: 40px;
    top: -3px;
    display: none;
    padding: 8px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    z-index: 10;

    &.show {
        display: block;
    }
}

nav {
    padding: 16px;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 10px rgba(black, .2);
    display: flex;
    background-color: white;
    color: gray;
    z-index: 9999;
    align-items: center;
}

.add-member-menu {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    border-radius: 8px;
    right: -58px;
    top: 62px;
    position: absolute;
    z-index: 999;

    li {
        padding: 4px 8px;
        text-align: left;

        &:hover {
            background-color: rgba(black, .05);
            cursor: pointer;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounceIn {
    0% { transform: scale(.88); }
    20% { transform: scale(1.12); }
    40% { transform: scale(.94); }
    60% { transform: scale(1.06); }
    80% { transform: scale(.98); }
    100% { transform: scale(1); }
  }
