$detailsRevealTiming: .2s;
$brand: #002831;

:root {
    --brand: #002831;
    --color_outline: #2D9CDB;
    --color_gray: #BDBDBD;
    --color_dark_gray: #828282;
    --color_yellow: #FDD3A6;
    --color_text: #333333;
    --color_border: #D9DFE0;
    --color_background: #fcfcfc;
    --color_danger: #B90B00;
    --brand_lighter: #E3F2F5;
    --navHeight: 104px;
    --detailsWidth: 352px;
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
    --iconButtonSize: 44px;
    --color_border: #D9DFE0;
    --leafSize: 96px;
    --profileImageSize: 128px;
    --leafCaptionOffset: 12px;
    --leafSpacing: 32px;
    --leafShadow: 0px 2px 16px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.07), 0px 4px 24px rgba(0, 0, 0, 0.08);
    --leafCaptionShadow: 0 0 12px rgba(0,0,0, .2);
    --detailsPanelDecorationTopOffset : 0;
    --spacer: 8px;
    --accountMenuSize: 56px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    flex-direction: column;
    padding: 0;
    margin: 0;
    flex-direction: column;
    color: var(--color_text);
};

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    &:first-child {
        margin-top: 0;
    }
}

h6 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1;
    font-size: 12px;
    color: var(--brand);
}

.mainNav {
    display: flex;
    background-color: var(--brand);
    height: var(--navHeight);
    max-height: var(--navHeight);
    position: sticky;
    top: 0;
    z-index: 900;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;

    &__decoration {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        z-index: -1;
    }
}

#mainContent {
    display: flex;
    position: relative;
    flex: 1;
    transition: background-color $detailsRevealTiming ease-in-out;

    &:focus {
        outline: none;
    }
    
    &:not(.showDetails) {
        #familyTree {
            margin-right: 0;
        }

        #detailsPanel {
            right: calc( (var(--detailsWidth) * -1 ));
        }
    }

    &.showDetails {
        // background-color: var(--color_background);

        #familyTree {
            margin-right: var(--detailsWidth);
        }

        // .spouseToSpouse__line {
        //     transform: translateX( calc( var(--detailsWidth)/2 * -1 ));
        // }

        #detailsPanel {
            right: 0;
        }
    }
}

#familyTree {
    flex: 1;
    transition: margin-right $detailsRevealTiming ease-in-out;
    display: flex;
    overflow: scroll;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    top: 56px;
    padding-bottom: 80px;

    &:focus {
        outline: 0 solid transparent;
    }

    .view-list_info {
        display: none;
    }

    &.view_list {
        justify-content: unset;
        padding-left: 24px;
        padding-right: 24px;
        flex-direction: column;
        align-items: flex-end;

        .connectorLine {
            display: none;
        }

        .view-list_info {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 16px;
            align-items: center;
            margin-left: 48px;
            width: 100%;
        }

        > .branch {
            margin: 0 auto;
            width: 100%;
            max-width: 1024px;
        }
        
        .branch,
        .spouses,
        .descendants {
            display: block;
        }

        .leaf {
            --leafSpacing: 8px;
            width: 100%;
            border-radius: 8px;
            margin-left: 0;
            height: unset;
            padding: 16px;
            justify-content: unset;
            box-shadow: none;
            align-items: center;

            &:hover {
                transform: none;
            }

            &:hover:before {
                transition: none;
            }

            &:active {
                transform: none;
            }

            &_caption {
                display: none;
            }

            &__image {
                --leafSize: 56px;
            }

            &__detail-item {
                flex: 1;
            }

            &:before {
                border-radius: 8px;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
            }
        }
    }
}

#accountMenu {
    width: var(--accountMenuSize);
    height: var(--accountMenuSize);
    border-radius: 8px;
    background-color: var(--color_yellow);

    &:hover {
        cursor: pointer;
    }
}

#detailsPanel {
    position: fixed;
    width: 100%;
    overflow: scroll;
    max-width: var(--detailsWidth);
    height: calc(100vh - var(--navHeight));
    padding: 32px;
    transition: right$detailsRevealTiming ease-in-out;
    top: var(--navHeight);
    bottom: 0;
    z-index: 99;
    background-color: white;
    box-shadow: 0 0 0 1px var(--color_border) inset;

    &:before {
        content: '';
        position: absolute;
        left: 1px;
        right: 0;
        top: var(--detailsPanelDecorationTopOffset);
        background-image: url("../assets/img/wavy-sm.svg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        background-size: 100%;
        height: 400px;
        z-index: -1;
    }
}

.detailsPanel__actions {
    display: flex;
}

// .detailsPanel__item {
//     display: flex;
// }

.detailsPanel__icon {
    width: 24px;
    text-align: center;
    font-size: 20px;
    color: var(--color_gray);
    vertical-align: middle;
}

.detailsPanel__img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--color_yellow);
}

.detailsPanel__realtiveType {
    color: var(--color_dark_gray);
}

.detailsPanel__profileImage {
    max-width: var(--profileImageSize);
    height: var(--profileImageSize);

    img {
        max-width: var(--profileImageSize);
        width: var(--profileImageSize);
        height: var(--profileImageSize);
        border-radius: 8px;
        display: block;
        background-color: lightgray;
        background-color: var(--color_yellow);
    }
}

.formActions {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: white;
    width: calc( var(--detailsWidth) - 1px);
}

.branch {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.descendants,
.spouses {
    display: flex;
    flex-direction: row;
    position: relative;
}

.spouses {
    // position: relative;

    // &:before {
    //     content: "";
    //     position: absolute;
    //     left: calc(var(--leafSize)/2);
    //     right: 0;
    //     top: calc( calc(var(--leafSize)/2) + var(--leafSpacing));
    //     height: 1px;
    //     background-color: var(--color_border);
    //     width: calc( calc(var(--leafSize)*2) + var(--leafSpacing));
    // }
}

.spouses .leaf {
    // &:after {
    //     content: "";
    //     position: absolute;
    //     height: 1px;
    //     width: 200px;
    //     top: 50%;
    //     transform: translateX(-50%);
    //     background-color: red;
    // }
}

.message:empty {
    display: none;
}

#pageTitle {
    min-width: 375px;
    left: 50%;
    font-size: 24px;
    font-weight: 900;
    padding: 16px 24px;
    border-radius: 4px;
    transition: all .1s ease-in-out;
    margin: 0 auto;
    text-align: center;
    // left: calc(50% + 16px); //when editable, consider putting this back in
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.leaf {
    border-radius: 50%;
    box-shadow: var(--leafShadow);
    position: relative;
    display: flex;
    justify-content: center;
    margin: var(--leafSpacing);
    transition: transform $detailsRevealTiming ease-in-out;
    cursor: pointer;

    &:before {
        content: "";
        position: absolute;
        width: calc(var(--leafSize) + 20px);
        height: calc(var(--leafSize) + 20px);
        top: -4px;
        border-radius: 100px;
        box-shadow: 0 0 0 4px var(--color_outline);
        opacity: 0;
        transform: scale(.8);
        transition: transform $detailsRevealTiming ease-in-out;
        z-index: -1;
    }

    &:hover {
        transform: scale(1.05);
        z-index: 1;
    }

    &:active {
        transform: scale(.95);
        transition: all .05s ease-in-out
    }

    &.active:before {
        opacity: 1;
        transform: scale(1);
    }

    > * {
        pointer-events: none;
    }

    .leaf_caption {
        position: absolute;
        padding: 8px 12px;
        border-radius: 8px;
        bottom: calc( var(--leafCaptionOffset) * -1 );
        margin: 0 auto;
        background-color: white;
        box-shadow: var(--leafShadow);
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: calc(var(--spacer) * 17);
        overflow: hidden;

        &:empty:before {
            content: "No name";
            font-style: italic;
            opacity: .75;
        }
    }

    &__image {
        background-color: var(--color_yellow);
        width: calc(var(--leafSize) + 12px);
        // height: calc(var(--leafSize) + 12px);
        max-width: calc(var(--leafSize) + 12px);
        max-height: calc(var(--leafSize) + 12px);
        overflow: hidden;
        border-radius: 50%;
    }
}

.parentToChild__middleBar,
.childToParent__middleBar,
.spouseToSpouse__line,
.parentToChildren__downLine {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: -1;
    background-color: var(--color_border);
    transition: all .2s ease-in-out;
    transform: scale(.95);
    height: 1px;
    pointer-events: none;
}

.spouseToSpouse__line {
    top: calc( var(--leafSize) / 2 + var(--leafSpacing) );
    bottom: 0;
    width: calc( 100% - var(--leafSize));
}

.parentToChild__middleBar {
    top: 0;
    width:  calc( 100% - calc( var(--leafSpacing) + var(--leafSize) ));
}

.childToParent__middleBar {
    width: 1px;
    height: var(--leafSpacing);
    top: calc( var(--leafSpacing) * -1);
}

.parentToChildren__downLine {
    width: 1px;
    height: calc( var(--leafSize) - calc( var(--leafSpacing) / 2 ));
    // top: calc( var(--leafSize) / 2 + var(--leafSpacing) );
    bottom: 0;
}

#view-preferences {
    right: 0;
}

@media screen and (max-width: 640px) {
    :root {
        --navHeight: 176px;
        --detailsWidth: 100%;
        --detailsPanelDecorationTopOffset : -48px;
    }
    
    #familyTree {
        width: 100%;
    }

    #detailsPanel {
        left:0;
        right: 0;
        bottom: calc(-100vh - var(--navHeight));
        top: unset;
        transition: bottom $detailsRevealTiming ease-in-out;
        max-height: calc(100vh - (var(--navHeight) + 12vh));
    }

    .mainNav {
        align-items: baseline;
        padding: 24px;
    }

    #pageTitle {
        width: calc(100% - 48px);
        bottom: 24px;
        left: 50%;
    }

    #mainContent {  
        &:not(.showDetails) {    
            #detailsPanel {
                right: unset;
            }
        }
    
        &.showDetails {
            #familyTree {
                margin-right: 0;
            }
    
            #detailsPanel {
                right: unset;
                bottom: 0;
            }
        }
    }  

    .dropdown {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: initial;
        z-index: 999;
    }
}

// cards
.card {
    --cardMaxWidth: 352px;
    --cardPadding: 24px;
    width: 100%;
    max-width: var(--cardMaxWidth);
    box-shadow: var(--leafShadow);
    border-radius: 8px;
    background-color: white;
    overflow: hidden;

    &__header {
        padding: var(--cardHeaderPadding, var(--cardPadding));
    }

    &__content {
        padding: var(--cardContentPadding, var(--cardPadding));
    }

    &__footer {
        padding: var(--cardFooterPadding, var(--cardPadding));
    }
}

// inputs
input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=date],
select {
    -webkit-appearance: none;
    padding: 12px 16px;
    box-shadow: 0 0 0 1px var(--color_border);
    border-radius: 8px;
    font-size: 16px;
    border: 0px solid transparent;
    background-color: white;

    &:hover {
        box-shadow: 0 0 0 2px var(--color_border);
    }

    &:focus {
        outline: 0px solid transparent;
        box-shadow: 0 0 0 2px var(--color_outline);
    }
}

label {
    font-weight: bold;
    font-size: 15px;
}

.inputGroup {
    --inputGroupLayout: column;
    display: flex;
    flex-direction: var(--inputGroupLayout);

    &__horizontal {
        --inputGroupLayout: row;
        align-items: center;

        label {
            margin-bottom: unset;
        }
    }

    & + & {
        margin-top: 16px;
    }

    label {
        margin-bottom: 8px;
    }
}

// button
.button,
button,
.iconButton {
    padding: 12px 16px;
    background-color: var(--brand);
    color: white;
    border-radius: 8px;
    border: 0px solid transparent;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: all .1s ease-in-out;
    text-decoration: none;

    &:hover,
    &:focus {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(1.02);
        transition: all 0s ease-in-out;
    }

    &:focus {
        box-shadow: 0 0 0 4px var(--color_outline);
        outline: 0px solid transparent;
    }

    &.secondary {
        background-color: var(--brand_lighter);
        color: var(--brand);

        &:hover {
            background-color: rgba(black, .05);
        }
    }

    &.white {
        background-color: white;
        color: var(--brand);
    }

    &.danger {
        background-color: var(--color_danger);
    }
}

.iconButton {
    padding: 0;
    width: var(--iconButtonSize);
    height: var(--iconButtonSize);
    line-height: var(--iconButtonSize);
    font-size: 20px;
    border-radius: 50%;
    align-items: center;

    &:focus {
        box-shadow: 0 0 0 4px var(--color_outline);
    }

    i {
        line-height: var(--iconButtonSize);
        pointer-events: none;
        text-decoration: none;
    }
}

.buttonGroup {
    display: flex;
    align-content: center;

    > button,
    .button,
    .iconButton {
        margin-left: 4px;
        margin-right: 4px;

        &:last-child {
            margin-right: 0px;
        }

        &:first-child {
            margin-left: 0px;
        }
    }
}

// modal
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba( black, .35);
    display: flex;
    justify-content: center;
    overflow: scroll;

    &.medium {
        .modal-dialouge  {
            max-width: 480px;
        }
    }

    &.small {
        .modal-dialouge  {
            max-width: 320px;
        }
    }

    .modal-dialouge {
        position: absolute;
        top: calc(30vh - 5vh);
        max-width: 600px;
        width: 100%;
        border-radius: 16px;
        box-shadow: 0 0 12px rgba(black, .2);
        background-color: white;
    }

    &:not(.open) {
        display: none;
        pointer-events: none;
    }

    &.open {
        pointer-events: initial;
    }

    .modal_button--close.iconButton {
        position: absolute;
        top: 16px;
        right: 16px;
    }
}

// dropdown
.dropdown {
    box-shadow: var(--leafShadow);
    border-radius: 8px;
    background-color: white;
    padding: 8px 0;
    z-index: 999;

    &__item {
        padding: 12px 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--color_text);

        &:hover {
            background-color: rgba($brand, .08);
            cursor: pointer;
        }
        &:active {
            background-color: rgba($brand, .04);
            cursor: pointer;
        }
    }

    &__label {
        text-transform: uppercase;
        letter-spacing: 1px;
        color: rgba($brand, .5);
        font-weight: bold;
        font-size: 12px;
        pointer-events: none;

        &:hover {
            background-color: inherit;
            cursor: intiial;
        }

        &:active {
            background-color: inherit;
        }

        .iconButton {
            pointer-events: initial;
        }
    }
}

/// Utility classes
.u_disabled {
    pointer-events: none;
    opacity: .5;
}

.u-p_fixed {
    position: fixed;
}

.u-bold {
    font-weight: bold;
}

.u-align-items_center {
    align-items: center;
}

.u-pe_none {
    pointer-events: none;
}

.u-p_absolute {
    position: absolute;
}

.u-d_none {
    display: none;
}

.u-d_flex {
    display: flex;
}

.u-d_block {
    display: block;
}

.u-jc_flex-end {
    justify-content: flex-end;
}

.u-pad_0 {
    padding: 0px;
}

.u-pad_4 {
    padding: 16px;
}

.u-pad-b_10 {
    padding-bottom: 80px;
}

.u-mar-lr_auto {
    margin-left: auto;
    margin-right: auto;
};

.u-mar-l_auto {
    margin-left: auto;
}

.u-mar-l_1 {
    margin-left: 8px;
}

.u-mar-l_2 {
    margin-left: 16px;
}

.u-mar-r_auto {
    margin-right: auto;
}

.u-mar-r_2 {
    margin-right: 16px;
}

.u-mar-b_0 {
    margin-bottom: 0px;
}

.u-mar-b_point5 {
    margin-bottom: 4px;
}

.u-mar-t_2 {
    margin-top: 16px;
}

.u-mar-t_3 {
    margin-top: 24px;
}

.u-mar-t_4 {
    margin-top: 32px;
}

.u-mar-b_1 {
    margin-bottom: 8px;
}

.u-mar-b_2 {
    margin-bottom: 16px;
}

.u-mar-b_3 {
    margin-bottom: 24px;
}

.u-mar-b_4 {
    margin-bottom: 32px;
}

.u-mar-b_5 {
    margin-bottom: 40px;
}

.u-mar-b_6 {
    margin-bottom: 48px;
}

.u-mar-b_7 {
    margin-bottom: 56px;
}

.u-ta_center {
    text-align: center;
}

.u-w_full {
    width: 100%;
}

.u-w_25perc {
    width: 25%;
}

.u-w_33perc {
    width: 33.333%;
}

.u-flex_1 {
    flex: 1;
}

.u-o_75 {
    opacity: .75;
}

.u-o_50 {
    opacity: .5;
}

.u-o_25 {
    opacity: .25;
}

.u-remove-link-style {
    text-decoration: none;
    color: inherit;
}

/// Color
.u-c_brand {
    color: var(--brand);
}

.u-c_white {
    color: white;
}

.u-c_danger {
    color: var(--color_danger);
}

/// Header classes
.header_m {
    font-weight: 900;
    font-size: 24px;
}
