$detailsRevealTiming: .2s;

:root {
    --brand: #002831;
    --color_outline: #2D9CDB;
    --color_gray: #BDBDBD;
    --color_yellow: #FDD3A6;
    --color_text: #333333;
    --color_border: #D9DFE0;
    --color_background: #fcfcfc;
    --brand_lighter: #E3F2F5;
    --navHeight: 104px;
    --detailsWidth: 352px;
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
    --iconButtonSize: 44px;
    --color_border: #D9DFE0;
    --leafSize: 96px;
    --profileImageSize: 128px;
    --leafSpacing: 32px;
    --leafShadow: 0px 2px 16px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.07), 0px 4px 24px rgba(0, 0, 0, 0.08);
    --leafCaptionShadow: 0 0 12px rgba(0,0,0, .2);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    flex-direction: column;
    padding: 0;
    margin: 0;
    flex-direction: column;
    color: var(--color_text);
};

ul,
ol {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    &:first-child {
        margin-top: 0;
    }
}

h6 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1;
    font-size: 12px;
    color: var(--brand);
}

.ifAuth--hide {
    display: none;
}

.ifAuth--show {
    display: unset;
}

nav {
    display: flex;
    background-color: var(--brand);
    height: var(--navHeight);
    max-height: var(--navHeight);
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 999;
    color: white;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;

    a {
        color: white;
    }
}

#mainContent {
    display: flex;
    position: relative;
    flex: 1;
    transition: background-color $detailsRevealTiming ease-in-out;
    
    &:not(.showDetails) {
        #familyTree {
            margin-right: 0;
        }

        #detailsPanel {
            right: calc( (var(--detailsWidth) * -1 ));
        }
    }

    &.showDetails {
        background-color: var(--color_background);

        #familyTree {
            margin-right: var(--detailsWidth);
        }

        #detailsPanel {
            right: 0;
        }
    }
}

#familyTree {
    flex: 1;
    transition: margin-right $detailsRevealTiming ease-in-out;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#detailsPanel {
    position: fixed;
    width: 100%;
    overflow: scroll;
    max-width: var(--detailsWidth);
    height: calc(100vh - var(--navHeight));
    padding: 32px;
    transition: right$detailsRevealTiming ease-in-out;
    top: var(--navHeight);
    bottom: 0;
    z-index: 99;
    background-color: white;
    background-image: url("../assets/img/wavy-sm.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-size: 100%;
    box-shadow: 0 0 0 1px var(--color_border) inset;
}

.detailsPanel__actions {
    display: flex;
}

// .detailsPanel__item {
//     display: flex;
// }

.detailsPanel__icon {
    width: 24px;
    text-align: center;
    font-size: 20px;
    color: var(--color_gray);
    vertical-align: middle;
}

.detailsPanel__profileImage {
    max-width: var(--profileImageSize);
    width: var(--profileImageSize);
    height: var(--profileImageSize);
    border-radius: 8px;
    display: block;
    background-color: lightgray;
    background-color: var(--color_yellow);
}

#treeMenu {
    border: 1px solid green;
    position: absolute;
    left: 0;
    right: 0;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;

    .primary {
        border: 1px solid purple;
    }

    .active {
        text-decoration: underline;
    }
}

.leaf {
    height: var(--leafSize);
    width: var(--leafSize);
    border-radius: 50%;
    box-shadow: var(--leafShadow);
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    margin: var(--leafSpacing);
    transition: transform $detailsRevealTiming ease-in-out;
    background-color: var(--color_yellow);

    &:before {
        content: "";
        position: absolute;
        width: calc(var(--leafSize) + 12px);
        height: calc(var(--leafSize) + 12px);
        top: -6px;
        border-radius: 100px;
        box-shadow: 0 0 0 4px var(--color_outline);
        opacity: 0;
        transform: scale(.8);
        transition: transform $detailsRevealTiming ease-in-out;
    }

    &:active {
        transform: scale(.9);
    }

    &.active:before {
        opacity: 1;
        transform: scale(1);
    }

    > * {
        pointer-events: none;
    }

    .leaf_caption {
        position: absolute;
        padding: 8px 12px;
        border-radius: 8px;
        bottom: -12px;
        margin: 0 auto;
        background-color: white;
        box-shadow: var(--leafShadow);
        font-size: 14px;
    }
}

@media screen and (max-width: 640px) {
    :root {
        --navHeight: 176px;
        --detailsWidth: 100%;
    }
    
    #familyTree {
        width: 100%;
    }

    #detailsPanel {
        left:0;
        right: 0;
        bottom: calc(-100vh - var(--navHeight));
        top: unset;
        transition: bottom $detailsRevealTiming ease-in-out;
        max-height: calc(100vh - (var(--navHeight) + 40px));
    }

    #mainContent {  
        &:not(.showDetails) {    
            #detailsPanel {
                right: unset;
            }
        }
    
        &.showDetails {
            #familyTree {
                margin-right: 0;
            }
    
            #detailsPanel {
                right: unset;
                bottom: 0;
            }
        }
    }  
}

// inputs
input[type=text],
input[type=email],
input[type=password],
input[type=number],
select {
    padding: 16px 12px;
    border: 1px solid var(--color_border);
    border-radius: 8px;
    font-size: 16px;
}

// button
.button,
button,
.iconButton {
    padding: 12px 16px;
    background-color: var(--brand);
    color: white;
    border-radius: 8px;
    border: 0px solid transparent;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;

    &.secondary {
        background-color: var(--brand_lighter);
        color: var(--brand);
    }

    &.white {
        background-color: white;
        color: var(--brand);
    }
}

.iconButton {
    padding: 0;
    width: var(--iconButtonSize);
    height: var(--iconButtonSize);
    line-height: var(--iconButtonSize);
    font-size: 20px;
    border-radius: 50%;
    align-items: center;

    i {
        line-height: var(--iconButtonSize);
        pointer-events: none;
    }
}

// modal
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba( black, .35);
    display: flex;
    justify-content: center;

    &.medium {
        .modal-dialouge  {
            max-width: 480px;
        }
    }

    &.small {
        .modal-dialouge  {
            max-width: 320px;
        }
    }

    .modal-dialouge {
        position: absolute;
        top: calc(30vh - 5vh);
        max-width: 600px;
        width: 100%;
        padding: 32px;
        border-radius: 16px;
        box-shadow: 0 0 12px rgba(black, .2);
        background-color: white;
    }

    &:not(.open) {
        display: none;
        pointer-events: none;
    }

    &.open {
        pointer-events: initial;
    }

    .modal_button--close.iconButton {
        position: absolute;
        top: 16px;
        right: 16px;
    }
}

/// Utility classes

.u-mar-lr_auto {
    margin-left: auto;
    margin-right: auto;
};

.u-mar-l_auto {
    margin-left: auto;
}

.u-mar-r_2 {
    margin-right: 16px;
}

.u-mar-b_2 {
    margin-bottom: 16px;
}

.u-mar-b_3 {
    margin-bottom: 24px;
}

.u-mar-b_4 {
    margin-bottom: 32px;
}

.u-mar-b_5 {
    margin-bottom: 40px;
}

.u-mar-b_6 {
    margin-bottom: 48px;
}

.u-mar-b_7 {
    margin-bottom: 56px;
}

.u-ta_center {
    text-align: center;
}

/// Header classes
.header_m {
    font-weight: 900;
    font-size: 24px;
}
