:root {
  --brand: #002831;
  --brand_600: #5C737B;
  --color_outline: #2D9CDB;
  --color_gray: #BDBDBD;
  --color_dark_gray: #828282;
  --color_yellow: #FDD3A6;
  --color_text: var(--brand);
  --color_border: #D9DFE0;
  --color_background: #fcfcfc;
  --color_danger: #B90B00;
  --brand_lighter: #E3F2F5;
  --navHeight: 88px;
  --navDecorationHeight: 24px;
  --detailsWidth: 332px;
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
  --iconButtonSize: 44px;
  --color_border: #D9DFE0;
  --leafSize: 72px;
  --profileImageSize: 160px;
  --leafCaptionOffset: 12px;
  --leafSpacing: 24px;
  --leafShadow: 0px 2px 16px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.07), 0px 4px 24px rgba(0, 0, 0, 0.08);
  --leafCaptionShadow: 0 0 12px rgba(0,0,0, .2);
  --detailsPanelDecorationTopOffset: 0;
  --spacer: 8px;
  --accountMenuSize: 56px;
  --detailsPanelImgSize: 48px; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  flex-direction: column;
  padding: 0;
  margin: 0;
  flex-direction: column;
  color: var(--color_text);
  overflow-x: hidden;
  overflow-y: scroll; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

h6 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 12px;
  color: var(--brand); }

img {
  max-width: 100%; }

fieldset {
  border: 0px solid transparent;
  padding: 0; }

.mainNav {
  display: flex;
  background-color: var(--brand);
  height: var(--navHeight);
  max-height: var(--navHeight);
  position: sticky;
  top: 0;
  z-index: 900;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px; }
  .mainNav__decoration {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    background-image: url("../assets/img/wavy-lg-dark.svg");
    background-size: 100vw 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: var(--navDecorationHeight); }
  .mainNav__profile-image {
    pointer-events: none;
    width: 100%;
    height: 100%; }

a {
  color: var(--brand); }
  a:focus {
    outline-offset: 2px;
    outline: 3px solid var(--color_outline); }

hr {
  border-top: 1px solid var(--color_border);
  border-bottom: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0; }

polyline,
path {
  fill: none;
  stroke: var(--color_border);
  stroke-width: 2; }

.leaf_connections {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible; }
  .leaf_connections.highlight {
    z-index: 1; }
    .leaf_connections.highlight path {
      transition: all .1s ease-in-out;
      stroke: var(--color_outline);
      stroke-width: 4; }
    .leaf_connections.highlight ~ .leaf_connections {
      z-index: -5; }
  .leaf_connections.removing {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: all .2s ease-in-out; }

#mainContent {
  display: flex;
  position: relative;
  flex: 1;
  transition: background-color 0.2s ease-in-out; }
  #mainContent:focus {
    outline: none; }
  #mainContent:not(.showDetails) #familyTree {
    margin-right: 0; }
  #mainContent:not(.showDetails) #detailsPanel {
    right: calc( (var(--detailsWidth) * -1 )); }
  #mainContent.showDetails #familyTree,
  #mainContent.showDetails #familyTree__list {
    width: calc(100vw - var(--detailsWidth));
    transition: width 0.2s ease-in-out; }
  #mainContent.showDetails #detailsPanel {
    right: 0; }
  #mainContent.view_list {
    --leafSize: 32px; }
    #mainContent.view_list #familyTree {
      display: none; }
    #mainContent.view_list #familyTree__list {
      display: block; }

#myTree__list {
  max-width: 800px;
  margin: 0 auto; }
  #myTree__list .myTree__item {
    text-decoration: none;
    min-height: 72px;
    box-shadow: 0 1px 0 var(--color_border); }

#branchContainer {
  display: flex;
  max-width: 100vw;
  padding-left: 40px;
  padding-right: 40px;
  transition: width 0.2s ease-in-out; }

#familyTree__list {
  width: 100vw;
  display: none;
  padding: 0 16px;
  transition: width 0.2s ease-in-out; }
  #familyTree__list img {
    width: 64px;
    height: 64px;
    max-width: 64px;
    max-height: 64px;
    object-fit: cover;
    border-radius: 64px; }
  #familyTree__list .profile__image {
    width: 64px; }
  #familyTree__list table {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse; }
  #familyTree__list tr {
    border-radius: 16px; }
    #familyTree__list tr:hover td {
      background-color: var(--brand_lighter); }
      #familyTree__list tr:hover td:after {
        background-color: rgba(0, 0, 0, 0); }
    #familyTree__list tr.highlight .leaf__image {
      transform: scale3d(1.3, 1.3, 1.3);
      transition: transform 0.2s ease-in-out; }
    #familyTree__list tr.active td {
      box-shadow: 0px -4px 0 0px var(--color_outline) inset, 0px 4px 0 0px var(--color_outline) inset; }
      #familyTree__list tr.active td:first-child {
        box-shadow: 0px -4px 0 0px var(--color_outline) inset, 0px 4px 0 0px var(--color_outline) inset, 4px 0 0 0px var(--color_outline) inset; }
      #familyTree__list tr.active td:last-child {
        box-shadow: 0px -4px 0 0px var(--color_outline) inset, 0px 4px 0 0px var(--color_outline) inset, -4px 0 0 0px var(--color_outline) inset; }
    #familyTree__list tr.active td:after {
      content: none; }
    #familyTree__list tr.active .iconButton:focus {
      box-shadow: none; }
    #familyTree__list tr.active .iconButton:after {
      opacity: 0; }
    #familyTree__list tr.active:hover td {
      background-color: unset; }
  #familyTree__list th {
    text-align: left; }
  #familyTree__list td {
    vertical-align: middle;
    width: 20%;
    position: relative; }
    #familyTree__list td:first-child {
      border-top-left-radius: 72px;
      border-bottom-left-radius: 72px; }
      #familyTree__list td:first-child:after {
        width: calc(100% - 16px);
        right: 0;
        left: unset; }
    #familyTree__list td:last-child {
      border-top-right-radius: 72px;
      border-bottom-right-radius: 72px;
      width: var(--iconButtonSize); }
      #familyTree__list td:last-child:after {
        width: calc(100% - 16px);
        left: 0;
        right: unset; }
    #familyTree__list td:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: var(--color_border);
      bottom: 0;
      left: 0;
      right: 0; }

#familyTree {
  transition: width 0.2s ease-in-out;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  top: 56px;
  padding-bottom: 80px;
  width: 100vw;
  overflow: scroll;
  scrollbar-width: none; }
  #familyTree:focus {
    outline: 0 solid transparent; }
  #familyTree .view-list_info {
    display: none; }
  #familyTree.view_list {
    justify-content: unset;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
    align-items: flex-end; }
    #familyTree.view_list .connectorLine {
      display: none; }
    #familyTree.view_list .view-list_info {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 16px;
      align-items: center;
      margin-left: 48px;
      width: 100%; }
    #familyTree.view_list > .branch {
      margin: 0 auto;
      width: 100%;
      max-width: 1024px; }
    #familyTree.view_list .branch,
    #familyTree.view_list .partners,
    #familyTree.view_list .descendants {
      display: block; }
    #familyTree.view_list .apart,
    #familyTree.view_list .together {
      max-width: 100%; }
    #familyTree.view_list .leaf {
      --leafSpacing: 0;
      width: 100%;
      border-radius: 8px;
      margin-left: 0;
      height: unset;
      padding: 8px;
      justify-content: unset;
      box-shadow: none;
      align-items: center;
      border-bottom: 1px solid var(--color_border);
      border-radius: 0;
      display: grid;
      grid-template-columns: calc(var(--leafSize) - 12px) 1fr;
      gap: 8px; }
      #familyTree.view_list .leaf:hover {
        transform: none; }
      #familyTree.view_list .leaf:hover:before {
        transition: none; }
      #familyTree.view_list .leaf:active {
        transform: none; }
      #familyTree.view_list .leaf_caption {
        display: none; }
      #familyTree.view_list .leaf__image {
        --leafSize: 40px;
        pointer-events: none; }
      #familyTree.view_list .leaf__detail-item {
        flex: 1; }
      #familyTree.view_list .leaf:before {
        border-radius: 8px;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0; }
      #familyTree.view_list .leaf path {
        display: none; }
      #familyTree.view_list .leaf .list__information {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 6%;
        margin: 0;
        pointer-events: unset; }
    #familyTree.view_list #branchContainer {
      transform-origin: unset !important;
      transform: unset !important;
      max-width: 1024px;
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto; }
  #familyTree > .branch {
    will-change: transform; }

#familyTree::-webkit-scrollbar {
  display: none; }

.error:empty {
  display: none; }

#accountMenu {
  width: var(--accountMenuSize);
  height: var(--accountMenuSize);
  border-radius: 8px;
  background-color: var(--color_yellow);
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #accountMenu:hover {
    cursor: pointer; }

#detailsPanel {
  position: fixed;
  width: 100%;
  overflow: scroll;
  max-width: var(--detailsWidth);
  height: calc(100vh - var(--navHeight));
  padding: 32px;
  transition: right 0.2s ease-in-out;
  top: var(--navHeight);
  bottom: 0;
  z-index: 99;
  background-color: white;
  box-shadow: 0 0 0 1px var(--color_border) inset;
  scroll-behavior: smooth; }
  #detailsPanel:before {
    content: '';
    position: absolute;
    left: 1px;
    right: 0;
    top: var(--detailsPanelDecorationTopOffset);
    background-image: url("../assets/img/wavy-sm.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-size: 100% 200px;
    height: 400px;
    z-index: -1; }
  #detailsPanel h6 {
    border-bottom: 1px solid var(--color_border);
    padding-bottom: 8px; }

.detailsPanel__actions {
  display: flex; }

.detailsPanel__item {
  position: relative;
  display: flex; }
  .detailsPanel__item:hover:before {
    content: "";
    position: absolute;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    background-color: var(--brand_lighter);
    transform: translate(-8px, -8px);
    z-index: -1; }

.detailsPanel__text {
  pointer-events: none; }

.detailsPanel__icon {
  width: 24px;
  text-align: center;
  font-size: 20px;
  color: var(--color_gray);
  color: var(--brand);
  vertical-align: middle;
  opacity: .6; }

.detailsPanel__img {
  min-width: var(--detailsPanelImgSize);
  width: var(--detailsPanelImgSize);
  height: var(--detailsPanelImgSize);
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 0 1px var(--color_border);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

#detailsPanel__edit {
  padding-bottom: 128px; }

.detailsPanel__relativeType {
  opacity: .5;
  color: var(--brand); }
  .detailsPanel__relativeType:empty {
    display: none; }

.detailsPanel__profileImage {
  max-width: var(--profileImageSize);
  height: var(--profileImageSize);
  max-width: var(--profileImageSize);
  width: var(--profileImageSize);
  height: var(--profileImageSize);
  border-radius: 8px;
  display: block;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

input[class*="profile_photo"],
input[name*="profile_photo"] {
  min-height: 200px;
  background-color: white;
  width: 200px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.formActions {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: white;
  width: calc( var(--detailsWidth) - 1px); }

.branch {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto; }

.descendants,
.partners {
  display: flex;
  flex-direction: row;
  position: relative; }
  .descendants:empty,
  .partners:empty {
    display: none; }

.partners .apart,
.partners .together {
  display: flex; }
  .partners .apart:empty,
  .partners .together:empty {
    display: none; }
.partners .together .leaf {
  margin-left: 0;
  margin-right: 0; }
.partners .together + .leaf {
  margin-left: -8px; }
.partners .together:empty + .leaf {
  margin-left: 0; }

.message:empty {
  display: none; }

#pageTitle {
  min-width: 375px;
  left: 50%;
  font-size: 24px;
  font-weight: 900;
  padding: 16px 24px;
  border-radius: 4px;
  transition: all .1s ease-in-out;
  margin: 0 auto;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.partners .leaf svg {
  z-index: -2; }

.partners:hover .leaf svg,
.partners:hover + .descendants .leaf svg {
  z-index: -1; }
  .partners:hover .leaf svg path,
  .partners:hover + .descendants .leaf svg path {
    transition: all .1s ease-in-out;
    stroke: var(--color_outline);
    stroke-width: 4; }

.leaf {
  border-radius: 50%;
  box-shadow: var(--leafShadow);
  position: relative;
  display: flex;
  justify-content: center;
  margin: var(--leafSpacing);
  transition: transform 0.2s ease-in-out;
  cursor: pointer; }
  .leaf:before {
    content: "";
    position: absolute;
    width: calc(var(--leafSize) + 24px);
    height: calc(var(--leafSize) + 24px);
    top: -6px;
    border-radius: 100px;
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0) inset, 0 0 0 4px var(--color_outline);
    opacity: 0;
    transform: scale(0.8);
    transition: transform 0.2s cubic-bezier(0.66, 0.23, 0.33, 1.02); }
  .leaf:active {
    transition: all 0.05s cubic-bezier(0.66, 0.23, 0.33, 1.02); }
  .leaf.active:before {
    transition: transform 0.2s cubic-bezier(0.66, 0.23, 0.33, 1.02);
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 0 6px white inset, 0 0 0 4px var(--color_outline); }
  .leaf > * {
    pointer-events: none; }
  .leaf.removing {
    filter: grayscale(1);
    transform: scale(0);
    opacity: 0;
    transition: all .2s ease-out; }
  .leaf .leaf_caption {
    position: absolute;
    padding: 8px 12px;
    border-radius: 8px;
    bottom: calc( var(--leafCaptionOffset) * -1 );
    margin: 0 auto;
    background-color: white;
    box-shadow: var(--leafShadow);
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(var(--spacer) * 11);
    overflow: hidden;
    backface-visibility: hidden;
    z-index: 5; }
    .leaf .leaf_caption:empty:before {
      content: "No name";
      font-style: italic;
      opacity: .75; }
  .leaf__image {
    background-color: white;
    width: calc(var(--leafSize) + 12px);
    height: calc(var(--leafSize) + 12px);
    max-width: calc(var(--leafSize) + 12px);
    max-height: calc(var(--leafSize) + 12px);
    overflow: hidden;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
    z-index: 2; }
  .leaf__image, .leaf_caption {
    transition: transform 0.2s ease-in-out; }
  .leaf.highlight .leaf__image,
  .leaf.highlight .leaf_caption {
    transform: scale3d(1.2, 1.2, 1.2);
    transition: transform 0.2s ease-in-out; }

[data-view] {
  padding-top: 64px; }

@media screen and (max-width: 640px) {
  :root {
    --navHeight: 176px;
    --detailsWidth: 100%;
    --detailsPanelDecorationTopOffset: -48px; }

  #familyTree {
    width: 100%; }

  #detailsPanel {
    left: 0;
    right: 0;
    bottom: calc(-100vh - var(--navHeight));
    top: unset;
    transition: bottom 0.2s ease-in-out;
    max-height: calc(100vh - (var(--navHeight) + 12vh));
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 0 24px rgba(0, 40, 49, 0.25); }

  .mainNav {
    align-items: baseline;
    padding: 24px; }

  #pageTitle {
    width: calc(100% - 48px);
    bottom: 24px;
    left: 50%; }

  #mainContent:not(.showDetails) #detailsPanel {
    right: unset; }
  #mainContent.showDetails #familyTree {
    margin-right: 0;
    width: 100vw; }
  #mainContent.showDetails #detailsPanel {
    right: unset;
    bottom: 0; } }
.card {
  --cardMaxWidth: 352px;
  --cardPadding: 24px;
  width: 100%;
  max-width: var(--cardMaxWidth);
  box-shadow: var(--leafShadow);
  border-radius: 8px;
  background-color: white;
  overflow: hidden; }
  .card__header {
    padding: var(--cardHeaderPadding, var(--cardPadding)); }
  .card__content {
    padding: var(--cardContentPadding, var(--cardPadding)); }
  .card__footer {
    padding: var(--cardFooterPadding, var(--cardPadding)); }
  .card.full_width {
    --cardMaxWidth: 100%; }
  .card.large {
    --cardMaxWidth: 800px; }
  .card.medium {
    --cardMaxWidth: 560px; }
  .card.small {
    --cardMaxWidth: 320px; }

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=date],
input[type=tel],
select {
  -webkit-appearance: none;
  padding: 12px 16px;
  box-shadow: 0 0 0 1px var(--color_border);
  border-radius: 8px;
  font-size: 16px;
  border: 0px solid transparent;
  background-color: white;
  color: var(--color_text); }
  input[type=text]:hover,
  input[type=email]:hover,
  input[type=password]:hover,
  input[type=number]:hover,
  input[type=date]:hover,
  input[type=tel]:hover,
  select:hover {
    box-shadow: 0 0 0 3px var(--color_border); }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus,
  input[type=number]:focus,
  input[type=date]:focus,
  input[type=tel]:focus,
  select:focus {
    outline: 0px solid transparent;
    box-shadow: 0 0 0 4px var(--color_outline); }

.checkboxGroup {
  display: flex;
  position: relative; }
  .checkboxGroup input[type=checkbox] {
    position: absolute;
    visibility: hidden;
    display: none; }
    .checkboxGroup input[type=checkbox]:checked + label:before {
      content: "\f00c";
      box-shadow: 0 0 0 2px var(--brand) inset;
      font-size: 18px;
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .checkboxGroup label {
    padding-left: 48px;
    position: relative;
    min-height: 32px;
    padding-top: 8px; }
    .checkboxGroup label:before {
      content: "";
      font-weight: 400;
      font-family: "Font Awesome 5 Pro";
      width: 32px;
      height: 32px;
      border-radius: 8px;
      box-shadow: 0 0 0 2px var(--color_border) inset;
      margin-right: 8px;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0px;
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .checkboxGroup label:hover {
      cursor: pointer; }
  .checkboxGroup.right {
    justify-content: flex-end; }
    .checkboxGroup.right label {
      padding-left: unset;
      padding-right: 48px;
      text-align: right; }
      .checkboxGroup.right label:before {
        left: unset;
        right: 0;
        margin-right: unset;
        margin-left: 8px; }

.radioGroup {
  display: flex;
  position: relative;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 0 0 1px var(--color_border); }
  .radioGroup input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none; }
    .radioGroup input[type=radio]:checked + label {
      color: white;
      background-color: var(--brand); }
    .radioGroup input[type=radio]:hover + label, .radioGroup input[type=radio]:focus + label {
      cursor: pointer;
      outline: 0px solid transparent;
      color: var(--color_text);
      background-color: var(--brand_lighter); }
    .radioGroup input[type=radio]:hover:checked + label, .radioGroup input[type=radio]:focus:checked + label {
      color: white;
      background-color: var(--brand); }
  .radioGroup label {
    padding: 12px 16px;
    border-radius: 8px;
    flex: 1;
    text-align: center;
    margin-bottom: 0; }
    .radioGroup label:focus {
      background-color: var(--brand_lighter);
      outline: 0px solid transparent;
      box-shadow: 0 0 0 4px var(--color_outline); }

.select-wrapper {
  padding: 0;
  position: relative; }
  .select-wrapper:after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; }
  .select-wrapper select {
    -webkit-appearance: none;
    padding: 12px 16px;
    border: 0px solid transparent;
    border-radius: 8px;
    padding-right: 40px; }
    .select-wrapper select:hover {
      cursor: pointer; }

label {
  font-weight: bold;
  font-size: 15px; }

.inputGroup {
  --inputGroupLayout: column;
  display: flex;
  flex-direction: var(--inputGroupLayout); }
  .inputGroup__horizontal {
    --inputGroupLayout: row;
    align-items: center; }
    .inputGroup__horizontal label {
      margin-bottom: unset; }
  .inputGroup + .inputGroup {
    margin-top: 16px; }
  .inputGroup > label {
    margin-bottom: 8px; }
  .inputGroup.checkbox {
    --inputGroupLayout: row;
    align-items: center; }
    .inputGroup.checkbox input[type=checkbox] {
      -webkit-appearance: inherit;
      box-shadow: 0 0 0 1px var(--color_dark_gray);
      height: 24px;
      width: 24px;
      border-radius: 4px; }
      .inputGroup.checkbox input[type=checkbox]:checked {
        content: "\f0d7";
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        background-color: var(--color_outline); }
      .inputGroup.checkbox input[type=checkbox]:focus, .inputGroup.checkbox input[type=checkbox]:hover {
        outline: none;
        box-shadow: 0 0 0 2px var(--color_outline); }
    .inputGroup.checkbox label {
      margin-left: 16px;
      margin-bottom: 0; }

.button,
button,
.iconButton {
  padding: 12px 16px;
  background-color: var(--brand);
  color: white;
  border-radius: 8px;
  border: 0px solid transparent;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  transition: transform .1s ease-in-out;
  text-decoration: none; }
  .button:hover, .button:focus,
  button:hover,
  button:focus,
  .iconButton:hover,
  .iconButton:focus {
    transform: scale(1.05); }
  .button:active,
  button:active,
  .iconButton:active {
    transform: scale(1.02);
    transition: transform 0s ease-in-out; }
  .button:focus,
  button:focus,
  .iconButton:focus {
    box-shadow: 0 0 0 4px var(--color_outline);
    outline: 0px solid transparent; }
  .button.secondary,
  button.secondary,
  .iconButton.secondary {
    background-color: var(--brand_lighter);
    color: var(--brand); }
    .button.secondary:hover,
    button.secondary:hover,
    .iconButton.secondary:hover {
      background-color: rgba(0, 0, 0, 0.05); }
    .button.secondary.danger,
    button.secondary.danger,
    .iconButton.secondary.danger {
      background-color: white;
      color: var(--color_danger); }
      .button.secondary.danger:hover,
      button.secondary.danger:hover,
      .iconButton.secondary.danger:hover {
        background-color: white; }
  .button.white,
  button.white,
  .iconButton.white {
    background-color: white;
    color: var(--brand); }
  .button.danger,
  button.danger,
  .iconButton.danger {
    background-color: var(--color_danger); }
  .button.disabled,
  button.disabled,
  .iconButton.disabled {
    opacity: .35;
    pointer-events: none; }

.iconButton {
  padding: 0;
  width: var(--iconButtonSize);
  height: var(--iconButtonSize);
  line-height: var(--iconButtonSize);
  font-size: 22px;
  border-radius: 50%;
  align-items: center; }
  .iconButton:focus {
    box-shadow: 0 0 0 4px var(--color_outline); }
  .iconButton i {
    pointer-events: none;
    text-decoration: none; }

.buttonGroup {
  display: flex;
  align-content: center; }
  .buttonGroup > button,
  .buttonGroup .button,
  .buttonGroup .iconButton {
    margin-left: 4px;
    margin-right: 4px; }
    .buttonGroup > button:last-child,
    .buttonGroup .button:last-child,
    .buttonGroup .iconButton:last-child {
      margin-right: 0px; }
    .buttonGroup > button:first-child,
    .buttonGroup .button:first-child,
    .buttonGroup .iconButton:first-child {
      margin-left: 0px; }

[tooltip] {
  position: relative; }
  [tooltip]:after {
    content: attr(tooltip);
    font-family: 'Lato', sans-serif;
    pointer-events: none;
    position: absolute;
    right: 50%;
    padding: 6px 10px;
    border-radius: 24px;
    font-size: 12px;
    font-weight: 400;
    opacity: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    line-height: initial;
    white-space: pre;
    color: white;
    background-color: var(--brand_600);
    transition-delay: unset;
    transition: opacity .2s ease-in-out, right .15s ease-out,  left .15s ease-out, bottom .15s ease-out, top .15s ease-out; }
  [tooltip]:hover {
    z-index: 99;
    transition: opacity .2s ease-in-out; }
    [tooltip]:hover:after {
      opacity: 1;
      right: calc(100% + 8px); }
  [tooltip]:focus {
    z-index: 99; }
    [tooltip]:focus:after {
      right: calc(100% + 8px);
      opacity: 1; }

[tooltip-position="right"]:after {
  left: 50%;
  right: unset; }
[tooltip-position="right"]:hover:after, [tooltip-position="right"]:focus:after {
  left: calc(100% + 8px);
  right: unset; }

[tooltip-position="top middle"]:after {
  left: 50%;
  top: unset;
  right: unset;
  transform: translateX(-50%);
  bottom: 0; }
[tooltip-position="top middle"]:hover:after, [tooltip-position="top middle"]:focus:after {
  right: unset;
  bottom: calc(100% + 8px); }

[tooltip-position="top left"]:after {
  left: 0;
  top: unset;
  bottom: 50%;
  right: unset; }
[tooltip-position="top left"]:hover:after, [tooltip-position="top left"]:focus:after {
  bottom: calc(100% + 16px);
  right: unset; }

[tooltip-position="bottom middle"]:after {
  left: 50%;
  bottom: unset;
  top: 50%;
  right: unset;
  transform: translateX(-50%); }
[tooltip-position="bottom middle"]:hover:after, [tooltip-position="bottom middle"]:focus:after {
  right: unset;
  top: calc(100% + 8px); }

[tooltip-reveal="fast"]:hover:after {
  transition-delay: unset; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  overflow: scroll;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.75); }
  .modal.medium .modal-dialouge {
    max-width: 480px; }
  .modal.small .modal-dialouge {
    max-width: 320px; }
  .modal .modal-dialouge {
    position: absolute;
    top: calc(30vh - 5vh);
    max-width: 600px;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    background-color: white;
    transform: scale(0.95);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.75); }
  .modal.open {
    pointer-events: initial;
    visibility: visible;
    pointer-events: initial;
    opacity: 1;
    transition: opacity 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.75); }
    .modal.open .modal-dialouge {
      transform: scale(1);
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.75); }
  .modal .modal_button--close.iconButton {
    position: absolute;
    top: 16px;
    right: 16px; }

.dropdown {
  box-shadow: var(--leafShadow);
  border-radius: 8px;
  background-color: white;
  padding: 8px 0;
  z-index: 999;
  min-width: 120px; }
  .dropdown__item {
    padding: 12px 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color_text);
    font-size: 16px; }
    .dropdown__item:hover {
      background-color: rgba(0, 40, 49, 0.08);
      background-color: var(--brand_lighter);
      cursor: pointer; }
    .dropdown__item:active {
      background-color: rgba(0, 40, 49, 0.04);
      cursor: pointer; }
    .dropdown__item:focus {
      outline: 0 solid transparent;
      box-shadow: 0 0 0 4px var(--color_outline) inset; }
  .dropdown__label {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(0, 40, 49, 0.5);
    font-weight: bold;
    font-size: 12px;
    pointer-events: none; }
    .dropdown__label:hover {
      background-color: inherit;
      cursor: intiial; }
    .dropdown__label:active {
      background-color: inherit; }
    .dropdown__label .iconButton {
      pointer-events: initial; }

.u-fw_900 {
  font-weight: 900; }

.u-fw_600 {
  font-weight: 600; }

.u_disabled {
  pointer-events: none;
  opacity: .5; }

.u-text_lowest {
  color: rgba(0, 0, 0, 0.55); }

.u-text_low {
  color: rgba(0, 0, 0, 0.65); }

.u-font-size_18 {
  font-size: 18px; }

.u-font-size_17 {
  font-size: 17px; }

.u-font-size_15 {
  font-size: 15px; }

.u-font-size_14 {
  font-size: 14px; }

.u-font-size_13 {
  font-size: 13px; }

.u-p_fixed {
  position: fixed; }

.u-bold {
  font-weight: bold; }

.u-italic {
  font-style: italic; }

.u-align-items_center {
  align-items: center; }

.u-pe_none {
  pointer-events: none; }

.u-p_absolute {
  position: absolute; }

.u-visibility_hidden {
  visibility: hidden; }

.u-d_none {
  display: none; }

.u-d_flex {
  display: flex; }

.u-d_table {
  display: table; }

.u-d_table-cell {
  display: table-cell; }

.u-d_table-row {
  display: table-row; }

.u-d_block {
  display: block; }

.u-jc_flex-end {
  justify-content: flex-end; }

.u-jc_center {
  justify-content: center; }

.u-pad_0 {
  padding: 0px; }

.u-pad_1 {
  padding: 8px; }

.u-pad_2 {
  padding: 16px; }

.u-pad_3 {
  padding: 24px; }

.u-pad_4 {
  padding: 32px; }

.u-pad_5 {
  padding: 40px; }

.u-pad_6 {
  padding: 48px; }

.u-pad-r_0 {
  padding-right: 0px; }

.u-pad-r_1 {
  padding-right: 8px; }

.u-pad-r_2 {
  padding-right: 16px; }

.u-pad-l_0 {
  padding-left: 0px; }

.u-pad-l_1 {
  padding-left: 8px; }

.u-pad-l_2 {
  padding-left: 16px; }

.u-pad-b_0 {
  padding-bottom: 0px; }

.u-pad-b_10 {
  padding-bottom: 80px; }

.u-pad-t_0 {
  padding-top: 0px; }

.u-pad-t_1 {
  padding-top: 8px; }

.u-pad-t_2 {
  padding-top: 16px; }

.u-pad-t_3 {
  padding-top: 24px; }

.u-pad-t_4 {
  padding-top: 32px; }

.u-pad-t_5 {
  padding-top: 40px; }

.u-pad-t_6 {
  padding-top: 48px; }

.u-pad-t_7 {
  padding-top: 56px; }

.u-pad-t_8 {
  padding-top: 64px; }

.u-mar_0 {
  margin: 0px; }

.u-mar_1 {
  margin: 16px; }

.u-mar_2 {
  margin: 16px; }

.u-mar_3 {
  margin: 24px; }

.u-mar_4 {
  margin: 32px; }

.u-mar-lr_auto {
  margin-left: auto;
  margin-right: auto; }

.u-mar-l_auto {
  margin-left: auto; }

.u-mar-l_1 {
  margin-left: 8px; }

.u-mar-l_2 {
  margin-left: 16px; }

.u-mar-l_3 {
  margin-left: 24px; }

.u-mar-r_auto {
  margin-right: auto; }

.u-mar-r_1 {
  margin-right: 8px; }

.u-mar-r_2 {
  margin-right: 16px; }

.u-mar-b_0 {
  margin-bottom: 0px; }

.u-mar-b_0 {
  margin-bottom: 0px; }

.u-mar-b_point5 {
  margin-bottom: 4px; }

.u-mar-t_0 {
  margin-top: 0px; }

.u-mar-t_1 {
  margin-top: 8px; }

.u-mar-t_2 {
  margin-top: 16px; }

.u-mar-t_3 {
  margin-top: 24px; }

.u-mar-t_4 {
  margin-top: 32px; }

.u-mar-t_5 {
  margin-top: 40px; }

.u-mar-t_6 {
  margin-top: 48px; }

.u-mar-t_7 {
  margin-top: 56px; }

.u-mar-t_8 {
  margin-top: 64px; }

.u-mar-t_8 {
  margin-top: 64px; }

.u-mar-t_9 {
  margin-top: 72px; }

.u-mar-t_10 {
  margin-top: 80px; }

.u-mar-t_11 {
  margin-top: 88px; }

.u-mar-t_12 {
  margin-top: 96px; }

.u-mar-b_1 {
  margin-bottom: 8px; }

.u-mar-b_2 {
  margin-bottom: 16px; }

.u-mar-b_3 {
  margin-bottom: 24px; }

.u-mar-b_4 {
  margin-bottom: 32px; }

.u-mar-b_5 {
  margin-bottom: 40px; }

.u-mar-b_6 {
  margin-bottom: 48px; }

.u-mar-b_7 {
  margin-bottom: 56px; }

.u-mar-b_8 {
  margin-bottom: 64px; }

.u-ta_center {
  text-align: center; }

.u-w_full {
  width: 100%; }

.u-w_25perc {
  width: 25%; }

.u-w_33perc {
  width: 33.333%; }

.u-flex_1 {
  flex: 1; }

.u-flex-wrap_wrap {
  flex-wrap: wrap; }

.u-fd_column {
  flex-direction: column; }

.u-ai_center {
  align-items: center; }

.u-ai_flex-end {
  align-items: flex-end; }

.u-ai_flex-start {
  align-items: flex-start; }

.u-o_75 {
  opacity: .75; }

.u-o_50 {
  opacity: .5; }

.u-o_25 {
  opacity: .25; }

.u-remove-link-style {
  text-decoration: none;
  color: inherit; }

.u-c_brand {
  color: var(--brand); }

.u-c_white {
  color: white; }

.u-c_danger {
  color: var(--color_danger); }

.header_m {
  font-weight: 900;
  font-size: 24px; }

.u-cursor_pointer {
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
